# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native & android builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/.gradle/
android/app/build/
android/build/
.gradle_home/
.gradle/

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# builds & binaries
*.apk
*.aab
FarReach-Release.apk

# editor & tool caches
.bolt/
.qodo/
